@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

:root {
    /* colors */
    /*--accent-color: #69b6cf; /* maximum blue */
    --accent-color: #6dbbbb; /* verdigris */
    --side-color: white;
    --black: #202020;
    --light-gray: #ddd;
 
    /* utlities */
    --box-shadow: 0 5px 10px var(--light-gray);
    --border: 1px solid var(--accent-color);
 
    /* fonts */
    --helvetica: Helvetica, sans-serif;
    --niceFont: 'Quicksand', sans-serif;
}

* { box-sizing: border-box; }
html { font-size: 16px; }
 
body {
    font-family: var(--niceFont);
    font-size: 1rem;
    text-align: center;
}

header {
    padding: 25px;
    height: 25vh;
    align-content: center;
}
 
h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }

h1, h2, h3 { margin: 10px; }
 
a:link, a:active, a:visited {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover { color:var(--side-color); }

p {  margin: 20px;}

main { 
    display: grid;
    grid-template-columns: auto;
    grid-gap: 25px;
    justify-items: center;
    align-items: center;
}

.container {
    height: 50vh;
}

button {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;

    border: none;
    padding: 15px 25px;
    margin: 25px;
}

button:hover { cursor: pointer; }
button:active { background: #69b6cf; }

.accent-bg {
    background-color: var(--accent-color);
    color: var(--side-color);
}

.speech-bubble {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.75;
    
    width: calc(100vw - 20px);
    margin: 50px auto;
    padding: 25px;
    border-radius: 15px;

    position:relative;
}

.speech-bubble:after {
    /* this is the tail! */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 50px solid transparent;
    border-top: 60px solid var(--accent-color);
    right: 50%;
    bottom: -50px; /* same size as border left */
}

/* bear svg */
.chist-bear {
    margin: 0;
}

.chist-bear svg {
    width: 100%;
}
.arms, .body { fill: #a07452; /* grizzly */ }
.white { fill: #fff; }
.paws { fill: #dc986c; }

/****** media queries (mobile first) ******/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }