@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

:root { /* variables */
    --accent-color: #6dbbbb; /* verdigris */
    --side-color: white;
    --niceFont: 'Quicksand', sans-serif;
}

* { box-sizing: border-box; }
html { font-size: 16px; }
 
body {
    font-family: var(--niceFont);
    font-size: 1rem;
    text-align: center;
    max-width: 100vw;
    overflow-x: hidden;
}

header {
    padding: 25px;
    height: 25vh;
    align-content: center;
}
 
h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h1, h2, h3 { margin: 10px; }
p { margin: 20px;}
 
a:link, a:active, a:visited, a:hover {
    color: var(--accent-color);
    text-decoration: none;
}

main { 
    padding: 100px;
    display: grid;
    grid-template-columns: clamp(300px, 50%, 900px);
    justify-content: center;
    justify-items: center;
}

#container-1, #container-2 {
    height: 50vh;
    width: 100%;
}

#weather, #container-1, #container-2 { margin: 25px; }

.accent-bg {
    background-color: var(--accent-color);
    color: var(--side-color);
}

.speech-bubble {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.75;
    
    margin: 50px auto;
    padding: 25px;
    border-radius: 15px;

    position:relative;
}

.speech-bubble:after {
    /* this is the tail of the speech bubble */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 50px solid transparent;
    border-top: 60px solid var(--accent-color);
    right: 50%;
    bottom: -50px; /* same size as border left */
}

/* bear svg */
.arms, .body { fill: #a07452; /* grizzly */ }
.white { fill: #fff; }
.paws { fill: #dc986c; }

/* weather */
path { /* these two make the svg be on its center! */
    transform-box: fill-box;
    transform-origin: center;
}

#father {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 25px;
}

.child-1, .child-2, .child-3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.sun {  animation: 15s spin linear infinite; }  
.cloud { animation: 12s cloud linear infinite; }
.storm { animation: 12s storm linear infinite; }
.moon { animation: 12s moon linear infinite; }
.rain { animation: 2s rain linear infinite;  }
.thunder { animation: 2s thunder ease-out infinite; }
.snow { animation: 2s snowAnim  ease-out infinite; }

.few-clouds { transform: translate(80px, 5px); }
.broken-clouds { transform: translate(60px, 5px); }
.scattered-clouds { height: 110px; margin: 25px; }
.back { z-index: -1; }

/* works on div containing svg, but not directly on svg */
.size80 { width: 80%; height: 80%; }

/*make this animation as in going from uop to down all the time in a cute way*/
.fa-chevron-down { animation: 1s bump ease-in infinite;}

/* animations */
@keyframes spin {
    0% { transform:rotate(0); }
    100% { transform: rotate(360deg); }
}

@keyframes cloud {
    0% { 
        transform: translate(0);
        opacity: 90%; 
    }
    50% { 
        transform: translate(50px); 
        opacity: 100%;
    }
    100% { 
        transform: translate(0); 
        opacity: 90%;
    }
}

@keyframes storm {
    0% { transform: translate(75px); }
    50% { transform: translate(-25px); }
    100% { transform: translate(75px); }
}

@keyframes moon {
    0% { transform: rotate(-15deg); }
    50% { transform: rotate(15deg); }
    100% { transform: rotate(-15deg); }
}

@keyframes rain {
    0% { 
        opacity: 0%;
        transform: translate(25px, 0px);
    }
    80% { 
        opacity: 100%;
        transform: translate(15px, 50px);
    }
    100% { 
        opacity: 0%;
        transform: translate(15px, 55px);
    }
}

@keyframes thunder {
    0% { 
        opacity: 0%;
        transform: translate(25px, -30px);
    }
    80% { transform: translate(15px, 10px); }
    90% { opacity: 100%; }
    100% {
        opacity: 0%;
        transform: translate(15px, 15px);
    }
}

@keyframes snowAnim {
    0% { 
        opacity: 0%;
        transform: translateY(-30px);
    }
    60% { opacity: 100%; }
    100% { 
        opacity: 0%;
        transform: translateY(35px);
    }
}

@keyframes appear {
    0% { transform: translateY(500px); }
    100% { transform: translateY(0); }
}

@keyframes speech-fade {
    0% { opacity: 0; }
    90% { opacity: 0; }
    100% { opacity: 100% }
}